

.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: dodgerblue;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: black;
    font-size: 23px;
}
/* Change navbar styling on scroll */

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}
/*color of active nav text*/

.navbar-nav>.active>a {
    color: dodgerblue;
}




body {
    background: #fff;
}
/*Jumbotoron Styling */

.jumbotron {
    padding-top: 85px !important;
    padding-bottom: 110px !important;
    border-radius: 0px !important;
}

.jumbotoron-btn {
    background-color: dodgerblue;
    border-radius: 30px;
    height: 50px;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#div_headers:hover {
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    text-decoration-thickness: 4px;
}



/*footer*/

footer {
    width: 100%;
    background-color: #114a66;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}


.social_footer_ul {
    display: table;
    list-style-type: none;
    align-items: flex-start;
    margin-left:-50px;
}

.social_footer_ul li {
    padding-left: 8px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 7px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 15px;
    height: 20px;
    text-align: center;
}




.footer_padding_style{
    margin-left:200px;
}

@media (max-width: 1024.98px) {

    .footer_padding_style{
        margin-left:10px;
    }
    .social_footer_ul {
        margin-left: -50px;
    }
}


.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    font-size:14px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: -15px;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: rgb(216, 216, 216);
    margin: 0 12px;

}



@media (max-width: 691.98px) {

    .top_margin_on_sm{
        margin-top:25px;
    }
    .margin_top_btn_on_sm{
        margin-top: 5px;
    }
}


/* button styling */

.btn_style {
    background-color: #0065A3;;
    color: #fff;
    border-radius: 3px;
    font-size:12px;
}

.btn_style:hover {
    color: #fff;
}

.btn_style1 {
    background-color: #0065A3;;
    color: #fff;
    border-radius: 3px;
    font-size:12px;
}

.btn_style1:hover {
    color: #fff;
}

.btn_style2  {
    background-color: #fff;
    color: rgb(37, 37, 37);
    border-radius: 3px;
    font-size:12px;

}

.btn_style2:hover {
    background-color: #247f9e;
    color: #fff;

}

.btn_style3  {
    background-color: transparent;
    color: rgb(37, 37, 37);
    border-radius: 3px;
    font-size:12px;
    border-color: 2px solid  rgb(19, 19, 19);
}

.nav_spacer{
    margin-left:10px;
}
.search_margin{
    margin-top: -2px;
}

.nav_blue{
    background-color: #0065A3;
}
/* Change navbar styling on small viewports */

@media (max-width: 991.98px) {
    .nav_spacer{
        margin-left:0px;
        margin-top:10px;
    }

}

/* adding icons to input fields */

form i.fa {
    position: absolute;
    top: 8px;
    bottom:6px;
    left: 20px;
    color: rgb(53, 53, 53);
    font-size: 20px;
    z-index: 9;
    margin-left: 5px;
}

.form-control2 {
    position: relative;
    padding-left: 45px !important;

}


/* styling input fields */
.input_style{
    border-radius: 10px;
}
#search-form{
    border-radius: 10px;
    position: relative;
    padding-left: 45px !important;
}
#searchResult{
    border-radius: 10px;
    position: relative;
    padding-left: 45px !important;
}
.card_blue{
    background-color: #0065A3;
}
.less_spacing_input{
    margin-top:-20px;
}


/* Styling cards */

.verify_open{
    border-radius:8px;
    width:140px;
    margin-left:-30px;
}

.verify_fa_style{
    color:#fff;
    margin-left:10px;
}
.card_image_overlay{
    margin-top:-40px;
}
.rating_style{
    color:#ffbf00;
    margin-left:15px;
}
.rating_value_style{
    color:#000;
    margin-left:10px;
}

.deal{
    border-radius:8px;
    width:80px;
    margin-left:-30px;
}
/* Styling cards for small screen sizes*/

@media (max-width: 991.98px) {

    .verify_open{
        border-radius:8px;
        width:120px;
        margin-left:-30px;
        font-size: 14px;
        padding-top:3px;
        padding-bottom:3px;
    }
    .deal{
        border-radius:8px;
        width:80px;
        margin-left:-30px;
    }


}


@media (max-width: 1224px) {

    .verify_open{
        border-radius:8px;
        width:100px;
        margin-left:-30px;
        font-size: 12px;
        padding-top:3px;
        padding-bottom:3px;
    }

}

/*  card img styling for bottom card*/

.card-img2{
    width: 100%!important;
    height: 250px!important;
    object-fit: cover;
}

/* card img styling for Top Cuisines*/

.card-img3{
    width: 100%!important;
    height: 250px!important;
    object-fit: cover;
}

.footer-bg{
    background-color: #0065A3;
}
.text-light a{
    color:#fff;
    text-decoration: none;
    font-size:13px;
}

#slider::-webkit-scrollbar{

    height: 30px;


}

#slider::-webkit-scrollbar-track{
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 10px;
    padding-top: 20px;

}

#slider::-webkit-scrollbar-thumb:horizontal{
    background:#0065A3;
    border-radius: 0px;
    border-top:22px white solid;
    background-clip: padding-box;
}



/*Underline text */
.text_underline{

    text-decoration: underline;
    text-decoration-color: #0065A3;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}


/*carousel styling*/





.btn_style_carousel {
    background-color: #0065A3;;
}

/*fixing card image equal height*/
.cit{
    width:100%;
    height:35vh;
    object-fit:cover;

}

.btn-info{

    background-color: #0065A3;

}

.btn-info:hover{

    background-color: #0065A3;

}
.btn-info:active{

    background-color: #0065A3 !important;

}

.btn-info:active:focus{

    background-color: #0065A3 !important;

}
.btn-info:focus{

    background-color: #0065A3 !important;

}



@media (min-width: 991.98px) {

    .all_res_card{
        width:16em;

    }


}




.active{
    background-color: #0065A3;
}


.nav-item{
    text-align: right;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


.offcanvas-header{
    display:none;
}



@media (max-width: 991.98px) {

    .navbar-collapse{

        background-color: #0065A3;
        padding:10px;



    }
    .btn_style1{
        background-color: #4d4d4d;
    }



}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
    .offcanvas-header{ display:block; }
    .navbar-collapse {
        position: fixed;
        top:0;
        bottom: 0;
        left: 100%;
        width: 40%;
        height:30%;
        padding-right: 2rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #0065A3;
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }

    .btn_style1{
        background-color: #4d4d4d;
    }

}

@media (max-width: 991.98px) {
    .button-corner {
        position: fixed;
        bottom: 20px;

    }
    .add_margin_to_alert_sm{
        margin-right:-10px;
        margin-left:10px;

    }

}
